In [2]:
import pandas as pd
import json
import re

In [12]:
df = pd.read_csv('df3-1.csv')

In [13]:
df

     Unnamed: 0         id                                            comment
0             0  297046299  ['Если человеку нравится делать маникюр себе и...
1             1  425881183  ['Я победила муссона в мгр урааа', 'Блин, ребя...
2             2  581215134                  ['Тот самый Анатолий ноготочки?']
3             3  503582303  ['Вахтовикам надо делать ДНК тесты своим детям...
4             4   34853753           ['Подумала сначала что лентач сломался']
..          ...        ...                                                ...
506         506  698439935  ['Фраза -вылететь в трубу, заиграла новыми кра...
507         507  627800377  ['Все будет хорошо,в стране поднимут цены на г...
508         508  592076404  ['Ну как бы дед иногда что путное делает хоть ...
509         509   37817370         ['Больше санкции,  че за детские санкции']
510         510  414851698                                          ['Вброс']

[511 rows x 3 columns]