In [1]:
import pandas as pd
import emoji

In [4]:
colnames = ['index', 'comment']

In [9]:
df = pd.read_csv('vk_parce/data.csv', names=colnames, header=None)

In [11]:
df = df.drop(labels = [0,1],axis = 0)

In [13]:
df = df.drop(columns = ['index'],axis = 1)

In [14]:
df

                                                 comment
2      Немцы так нехотя делают эти санкции, высылку д...
3           а в чём прикол дипломатов туда-сюда гонять ?
4      Вообще, это все логично. Абсолютно ожидаемое п...
5                                                    NaN
6      [id717273538|Matilda], детишками ты никого не ...
...                                                  ...
10080      [id166433695|Олеся], а почему? Что случилось?
10081   [id456583764|Бекжан], скрепа немного прогнулась.
10082  [id166433695|Олеся], интересно, почему?) ну ин...
10083  [id463112073|Михаил], да вроде нет, нет твоих ...
10084  [id589969600|Петр], шутишь прям как твой кумир...

[10083 rows x 1 columns]